.App-header {
  background-color: rgb(6,9, 13);
  height: 50px;
  padding: 20px;
  color: white;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.App-title {
  font-size: 1.5em;
}

.App-body {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 15%;
  margin-right: 10%;
  align-items: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
}

.App Button {
  margin-bottom: 3rem;
  margin-right: 1rem;
}

.App TextField  {
  margin-right: 1rem;
}
